@import './tasklist.scss';
@import './trecordlist.scss';
@import './recordlist.scss';
@import './progress.scss';
@import './profile.scss';


.dashboard {
  position: relative;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;

  .top-dashboard {
    position: absolute;
    display: grid;
    width: 100%;
    height: 12vh;
    top: 0;

    .title {
      position: relative;
      display: grid;
      grid-template-columns: 40% auto;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      background-color: #42b5e8;
  
      .avatar {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../assets/logo.png') no-repeat 15% 4% fixed;
        background-size: 35px;
      }
  
      h2 {
        position: relative;
        align-self: center;
        padding-right: 0.4rem;
        font-size: 1rem;
        color: wheat;
      }
    }
  }

  .component-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin: 12vh 0;
  }

  .bottom-dashboard {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    height: 12vh;
    bottom: 0;

    .menu-item {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: flex-end;
      text-decoration: none;
      color: wheat;
      background-color: #374044;

      border-top: 1px solid #101721;
      font-size: 0.7rem;
      
      div {
        position: relative;
        border: none;
        margin-bottom: 1rem;
      }
    }
  }
}