

  .home {
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, auto);
    width: 100%;

    .hidden {
      display: none !important;
    }

    .error-container {
      position: relative;
      display: grid;
      grid-auto-flow: row;
      width: 100%;
      background-color: red;

      .error-item {
        position: relative;
        display: grid;
        width: 100%;
        background-color: fuchsia;
      }
    }

    .title {
      position: relative;
      display: flex;
      justify-content: center;
      background-color: ghostwhite;
      border: 2px solid saddlebrown;

      h1 {
        position: relative;
        align-self: center;
        background-color: gold;  
      }
    }

    .registration {
      position: relative;
      display: grid;
      width: 100%;
      border: 2px solid silver;

      .reg-form {
        position: relative;
        display: grid;

        input {
          text-align: center;
        }

        button {
          position: relative;
          width: 100%;
          height: 100%;
          align-self: center;
        }
      }
    }

    .login {
      position: relative;
      display: grid;
      width: 100%;

      .log-form {
        position: relative;
        display: grid;
        

        input {
          text-align: center;
        }

        button {
          position: relative;
          width: 100%;
          height: 100%;
          align-self: center;
        }
      }
    }
  }
