@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:wght@600&family=Secular+One&display=swap');

h1 {
  color: firebrick;
}

.app {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #42b5e8;
}