.progress {
  position: relative;
  display: grid;
  grid-template-rows: 4% auto;
  width: 100%;
  background-color: #1ab188;
  font-family: Arial, Helvetica, sans-serif;

  .tasks {

  }

  .completed {

  }

  .records {

  }

  button {

  }
}