.task-list {
  position: relative;
  display: grid;
  grid-template-rows: 6% auto 10%;
  width: 100%;

    h1 {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 3;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      color: #eaedf1;
      background-color: #5b8092;
      margin: 0;
    }

  .task-items {
    position: relative;
    width: 100%;
    height: 62vh;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    overflow: scroll;
    background-color: #dadbdd;

    .task-item {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 80% auto;
      width: 100%;
      height: 7.5vh;
      text-decoration: none;
      color: #304a65;

      p {
        position: relative;
        display: block;
        margin: 0;
        background-color: white;
      }

      span {
        position: relative;
        display: block;
        width: 100%;
        background-color: white;
        text-align: right;
      }
    }
  }

  .task-new {
    position: relative;
    width: 100%;
    height: 7.5vh;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ecf6fc;
    background-color: #97e494;
  }
}