@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
.home {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  width: 100%; }
  .home .title {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: ghostwhite;
    border: 2px solid saddlebrown; }
    .home .title h1 {
      position: relative;
      align-self: center;
      background-color: gold; }
  .home .registration {
    position: relative;
    display: grid;
    width: 100%;
    border: 2px solid silver; }
    .home .registration .reg-form {
      position: relative;
      display: grid; }
      .home .registration .reg-form input {
        text-align: center; }
      .home .registration .reg-form button {
        position: relative;
        width: 100%;
        height: 100%;
        align-self: center; }
  .home .login {
    position: relative;
    display: grid;
    width: 100%; }
    .home .login .log-form {
      position: relative;
      display: grid; }
      .home .login .log-form input {
        text-align: center; }
      .home .login .log-form button {
        position: relative;
        width: 100%;
        height: 100%;
        align-self: center; }

.task-list {
  position: relative;
  display: grid;
  grid-template-rows: 6% auto 19%;
  width: 100%; }
  .task-list h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: #eaedf1;
    background-color: #5b8092;
    margin: 0; }
  .task-list .task-items {
    position: relative;
    width: 100%;
    height: 59.8vh;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    overflow: scroll;
    background-color: #dadbdd; }
    .task-list .task-items .task-item {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 80% auto;
      width: 100%;
      height: 7.5vh;
      text-decoration: none;
      color: #304a65; }
      .task-list .task-items .task-item p {
        position: relative;
        display: block;
        margin: 0;
        background-color: white; }
      .task-list .task-items .task-item span {
        position: relative;
        display: block;
        width: 100%;
        background-color: white;
        text-align: right; }
  .task-list .task-new {
    position: relative;
    width: 100%;
    height: 9vh;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ecf6fc;
    background-color: #97e494; }

.trecord-list {
  position: relative;
  display: grid;
  grid-template-rows: 24% auto 12%;
  width: 100%;
  max-height: 73vh; }
  .trecord-list .task-info {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%; }
    .trecord-list .task-info h1 {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 3;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      color: #eaedf1;
      background-color: #5b8092;
      margin: 0; }
    .trecord-list .task-info h2 {
      position: relative;
      display: block;
      width: 100%;
      height: 8vh;
      z-index: 3;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      text-align: center;
      padding-top: 1rem;
      color: #304a65;
      background-color: #ebebeb; }
  .trecord-list .trecord-items {
    position: relative;
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    overflow: scroll;
    background-color: #dadbdd; }
    .trecord-list .trecord-items .record-item {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 80% auto;
      width: 100%;
      height: 7.5vh;
      text-decoration: none;
      color: #304a65; }
      .trecord-list .trecord-items .record-item p {
        position: relative;
        display: block;
        margin: 0;
        background-color: white; }
      .trecord-list .trecord-items .record-item span {
        position: relative;
        display: block;
        width: 100%;
        background-color: white;
        text-align: right; }
  .trecord-list .record-new {
    position: relative;
    align-self: end;
    width: 100%;
    height: 9vh;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ecf6fc;
    background-color: #97e494; }

.record-list {
  position: relative;
  display: grid;
  grid-template-rows: 6% auto 10%;
  width: 100%; }
  .record-list h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: #eaedf1;
    background-color: #5b8092;
    margin: 0; }
  .record-list .record-items {
    position: relative;
    width: 100%;
    height: 62vh;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    overflow: scroll;
    background-color: #dadbdd; }
    .record-list .record-items .record-item {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 80% auto;
      width: 100%;
      height: 7.5vh;
      text-decoration: none;
      color: #304a65; }
      .record-list .record-items .record-item p {
        position: relative;
        display: block;
        margin: 0;
        background-color: white; }
      .record-list .record-items .record-item span {
        position: relative;
        display: block;
        width: 100%;
        background-color: white;
        text-align: right; }

.dashboard {
  position: relative;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300; }
  .dashboard .top-dashboard {
    position: absolute;
    display: grid;
    width: 100%;
    height: 12vh;
    top: 0; }
    .dashboard .top-dashboard .title {
      position: relative;
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      background-color: #42b5e8; }
      .dashboard .top-dashboard .title h1 {
        position: relative;
        align-self: center;
        font-size: 1rem;
        margin-right: 3rem; }
      .dashboard .top-dashboard .title h2 {
        position: relative;
        align-self: center;
        font-size: 1rem;
        margin-left: 3rem;
        color: wheat; }
  .dashboard .component-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin: 12vh 0; }
  .dashboard .bottom-dashboard {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    height: 12vh;
    bottom: 0; }
    .dashboard .bottom-dashboard .menu-item {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: flex-end;
      text-decoration: none;
      color: wheat;
      background-color: #374044;
      border-top: 1px solid #101721;
      font-size: 0.7rem; }
      .dashboard .bottom-dashboard .menu-item div {
        position: relative;
        border: none;
        margin-bottom: 1rem; }

.app {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  max-height: 97vh;
  overflow: hidden;
  background-color: #dadbdd; }

/*# sourceMappingURL=app.css.map */
