.task-list {
  position: relative;
  display: grid;
  grid-template-rows: 6% auto 19%;
  width: 100%; }
  .task-list h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: #eaedf1;
    background-color: #5b8092;
    margin: 0; }
  .task-list .task-new {
    position: absolute;
    display: grid;
    align-self: end;
    width: 100%;
    height: 11.56%;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ecf6fc;
    background-color: #1ab188; }
    .task-list .task-new p {
      position: relative;
      align-self: center;
      font-size: 2.65vh; }
  .task-list .task-items {
    position: absolute;
    width: 100%;
    top: 6%;
    height: 80%;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    justify-items: center;
    overflow: auto; }
    .task-list .task-items .task-item {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 75% auto;
      width: 90%;
      height: 7.5vh;
      margin: 0.2rem 0;
      text-decoration: none;
      color: #757575; }
      .task-list .task-items .task-item p {
        position: relative;
        display: block;
        padding: 0.5rem 0 0.5rem 0.5rem;
        margin: 0;
        overflow: scroll;
        height: 1.2rem;
        background-color: white; }
      .task-list .task-items .task-item span {
        position: relative;
        display: block;
        width: 87%;
        font-weight: 600;
        padding: 0.5rem 0.5rem 0.5rem 0;
        color: rgba(3, 3, 3, 0.651);
        background-color: white;
        text-align: right; }
    .task-list .task-items .record-task {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 30% auto 20%;
      width: 90%;
      height: 7.5vh;
      text-decoration: none;
      font-size: 0.9rem;
      color: #757575;
      margin: 0.2rem 0; }
      .task-list .task-items .record-task p {
        position: relative;
        display: block;
        padding: 0.7rem 0 0.5rem 0.5rem;
        margin: 0;
        overflow: scroll;
        height: 1.2rem;
        background-color: white; }
      .task-list .task-items .record-task .task-name {
        position: relative;
        display: block;
        margin: 0;
        overflow: scroll;
        height: 1.2rem;
        background-color: white; }
      .task-list .task-items .record-task span {
        position: relative;
        display: block;
        font-weight: 600;
        width: 87%;
        padding: 0.7rem 0.5rem 0.5rem 0;
        color: rgba(3, 3, 3, 0.651);
        background-color: white;
        text-align: right; }
    .task-list .task-items .task-item:first-child,
    .task-list .task-items .record-task:first-child {
      margin-top: 1.5rem; }

.trecord-list {
  position: relative;
  display: grid;
  grid-template-rows: 24% auto 19%;
  width: 100%; }
  .trecord-list .task-info {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%; }
    .trecord-list .task-info h1 {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 3;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      color: #eaedf1;
      background-color: #5b8092;
      margin: 0; }
    .trecord-list .task-info h2 {
      position: relative;
      display: block;
      width: 100%;
      height: 8vh;
      z-index: 3;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      letter-spacing: 0.1rem;
      font-size: 0.7rem;
      text-align: center;
      padding-top: 1rem;
      color: #304a65;
      background-color: #ebebeb; }
  .trecord-list .record-new {
    position: absolute;
    display: grid;
    align-self: end;
    width: 100%;
    height: 11.56%;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ecf6fc;
    background-color: #1ab188; }
    .trecord-list .record-new p {
      position: relative;
      align-self: center;
      font-size: 2.65vh; }
  .trecord-list .trecord-items {
    position: absolute;
    width: 100%;
    top: 26%;
    height: 60%;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    justify-items: center;
    overflow: auto; }
    .trecord-list .trecord-items .record-item {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 80% auto;
      width: 90%;
      height: 7.5vh;
      margin: 0.2rem 0;
      text-decoration: none;
      color: #757575; }
      .trecord-list .trecord-items .record-item p {
        position: relative;
        display: block;
        padding: 0.5rem 0 0.5rem 0.5rem;
        margin: 0;
        overflow: scroll;
        height: 1.2rem;
        background-color: white; }
      .trecord-list .trecord-items .record-item span {
        position: relative;
        display: block;
        width: 87%;
        font-weight: 600;
        padding: 0.5rem 0.5rem 0.5rem 0;
        color: rgba(3, 3, 3, 0.651);
        background-color: white;
        text-align: right; }

.progress {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  justify-items: center;
  width: 100%;
  padding: 1.2rem;
  font-family: 'Open Sans', sans-serif; }
  .progress .prog {
    position: relative;
    display: grid;
    grid-template-rows: 20% 55% 25%;
    width: 15vh;
    height: 15vh;
    text-align: center;
    background-color: #fdfdfd;
    border: 1px solid #eff2f6; }
    .progress .prog span {
      position: relative;
      font-size: 0.8rem;
      color: #738596;
      border-bottom: 1px solid #eff2f6;
      margin: 0; }
    .progress .prog svg {
      position: relative;
      align-self: center;
      justify-self: center;
      padding: 0.3rem;
      margin: 0;
      border-radius: 50%;
      width: 35%;
      height: 60%;
      border: 1px solid #eff2f6; }
    .progress .prog p {
      position: relative;
      font-weight: 600;
      color: #738596;
      border-top: 1px solid #eff2f6;
      margin: 0; }
  .progress button {
    border: 0;
    outline: none;
    border-radius: 0;
    margin: 0.5rem auto 0;
    padding: 0.7rem 0.5rem;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    background: #e00b0b;
    color: #fff;
    transition: all 0.5s ease; }
    .progress button:hover, .progress button:focus {
      background: #c80a0a;
      /* stylelint-disable-line csstree/validator */ }

.user-profile {
  position: relative;
  display: grid;
  grid-template-rows: 60% auto 30%;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }
  .user-profile .picture-info {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 10% 10% auto;
    background-color: #42b5e8; }
    .user-profile .picture-info .picture {
      position: relative;
      width: 100%;
      height: 100%;
      background: url("../assets/avatar.png") no-repeat center 50%;
      background-size: 125px; }
    .user-profile .picture-info .username {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      font-weight: 600;
      font-size: 1.2rem;
      color: #fff;
      margin: 0; }
    .user-profile .picture-info .created_at {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0.8rem;
      font-weight: 300;
      text-align: center;
      color: #48677a;
      margin: 0; }
  .user-profile .buttons {
    position: relative;
    display: grid;
    grid-template-columns: 50% auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    width: 100%;
    color: #8d9caa;
    background-color: #ccc; }
    .user-profile .buttons div {
      position: relative;
      display: flex;
      width: 98.9%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background-color: #fdfdfd;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      margin: 0; }

.form-tr {
  position: relative;
  display: grid;
  align-self: center;
  margin: 0 auto;
  background: #fdfdfd;
  width: 90%;
  height: 47%;
  padding-top: 2rem;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
  .form-tr .field-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem; }
    .form-tr .field-wrap .task-option {
      position: relative;
      display: block;
      width: 85%;
      height: 100%;
      font-size: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #444;
      line-height: 1.3;
      padding: 0.5em 1.4em 0.4em 0.8em;
      box-sizing: border-box;
      margin: 0 0 0.1rem 0;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
      border-radius: 0.5em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: rgba(73, 73, 73, 0.178);
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%; }
    .form-tr .field-wrap input,
    .form-tr .field-wrap textarea {
      font-size: 1rem;
      display: block;
      width: 80%;
      height: 100%;
      padding: 0.2rem 0.4rem;
      background: none;
      background-image: none;
      border: 1px solid #a0b3b0;
      color: #474747;
      border-radius: 0;
      transition: border-color 0.25s ease, box-shadow 0.25s ease; }
      .form-tr .field-wrap input:focus,
      .form-tr .field-wrap textarea:focus {
        outline: 0;
        border-color: #1ab188; }
  .form-tr .button {
    border: 0;
    outline: none;
    border-radius: 0;
    margin: 0 auto;
    padding: 0.7rem 0;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    background: #1ab188;
    color: #fff;
    transition: all 0.5s ease; }
    .form-tr .button:hover, .form-tr .button:focus {
      background: #179b77;
      /* stylelint-disable-line csstree/validator */ }
  .form-tr .button-block {
    display: block;
    width: 85%; }

.record {
  height: 35%; }

.dashboard {
  position: relative;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300; }
  .dashboard .top-dashboard {
    position: absolute;
    display: grid;
    width: 100%;
    min-width: 100%;
    height: 12vh;
    top: 0; }
    .dashboard .top-dashboard .title {
      position: relative;
      display: grid;
      grid-template-columns: 50% auto;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      background-color: #42b5e8; }
      .dashboard .top-dashboard .title .logo-container {
        position: relative;
        display: grid;
        padding-left: 1.5rem;
        width: 100%;
        height: 100%; }
        .dashboard .top-dashboard .title .logo-container .logo {
          position: relative;
          width: 35px;
          background: url("../assets/logo.png") no-repeat 15% 50% scroll;
          background-size: 35px; }
      .dashboard .top-dashboard .title .account {
        position: relative;
        display: grid;
        padding-right: 1rem; }
        .dashboard .top-dashboard .title .account h2 {
          position: relative;
          align-self: center;
          justify-self: end;
          padding-right: 0.4rem;
          font-size: 1rem;
          color: wheat; }
  .dashboard .component-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin: 12vh 0; }
  .dashboard .bottom-dashboard {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    height: 12vh;
    min-height: 76.8px;
    bottom: 0; }
    .dashboard .bottom-dashboard .menu-item {
      position: relative;
      display: grid;
      grid-template-rows: 60% auto;
      gap: 0.5rem;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: flex-end;
      text-decoration: none;
      color: #acb0b4;
      background-color: #374044;
      border-top: 1px solid #101721;
      font-size: 0.7rem; }
      .dashboard .bottom-dashboard .menu-item svg {
        position: relative;
        width: 100%;
        height: 60%; }
      .dashboard .bottom-dashboard .menu-item div {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        text-align: center; }

/*# sourceMappingURL=dashboard.css.map */
