.task-list {
  position: relative;
  display: grid;
  grid-template-rows: 6% auto 19%;
  width: 100%; }
  .task-list h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: #eaedf1;
    background-color: #5b8092;
    margin: 0; }
  .task-list .task-new {
    position: absolute;
    display: grid;
    align-self: end;
    width: 100%;
    height: 11.56%;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ecf6fc;
    background-color: #1ab188; }
    .task-list .task-new p {
      position: relative;
      align-self: center;
      font-size: 2.65vh; }
  .task-list .task-items {
    position: absolute;
    width: 100%;
    top: 6%;
    height: 80%;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    justify-items: center;
    overflow: auto; }
    .task-list .task-items .task-item {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 75% auto;
      width: 90%;
      height: 7.5vh;
      margin: 0.2rem 0;
      text-decoration: none;
      color: #757575; }
      .task-list .task-items .task-item p {
        position: relative;
        display: block;
        padding: 0.5rem 0 0.5rem 0.5rem;
        margin: 0;
        overflow: scroll;
        height: 1.2rem;
        background-color: white; }
      .task-list .task-items .task-item span {
        position: relative;
        display: block;
        width: 87%;
        font-weight: 600;
        padding: 0.5rem 0.5rem 0.5rem 0;
        color: rgba(3, 3, 3, 0.651);
        background-color: white;
        text-align: right; }
    .task-list .task-items .record-task {
      position: relative;
      display: grid;
      align-content: center;
      grid-template-columns: 30% auto 20%;
      width: 90%;
      height: 7.5vh;
      text-decoration: none;
      font-size: 0.9rem;
      color: #757575;
      margin: 0.2rem 0; }
      .task-list .task-items .record-task p {
        position: relative;
        display: block;
        padding: 0.7rem 0 0.5rem 0.5rem;
        margin: 0;
        overflow: scroll;
        height: 1.2rem;
        background-color: white; }
      .task-list .task-items .record-task .task-name {
        position: relative;
        display: block;
        margin: 0;
        overflow: scroll;
        height: 1.2rem;
        background-color: white; }
      .task-list .task-items .record-task span {
        position: relative;
        display: block;
        font-weight: 600;
        width: 87%;
        padding: 0.7rem 0.5rem 0.5rem 0;
        color: rgba(3, 3, 3, 0.651);
        background-color: white;
        text-align: right; }
    .task-list .task-items .task-item:first-child,
    .task-list .task-items .record-task:first-child {
      margin-top: 1.5rem; }

/*# sourceMappingURL=tasklist.css.map */
